<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Book Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">Book Management</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-out">&nbsp;Đăng xuất</i></a>
            </div>
        </nav>
    </header>

    <div class="row">
        <div class="col-2 menu">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-tachometer">&nbsp;Tổng quan</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index"><i class="fa fa-list-ul">&nbsp;Thể loại</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index"><i class="fa fa-users">&nbsp;Tài khoản</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index"><i class="fa fa-book">&nbsp;Sách</i></a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <div class="col-1"></div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Book Management
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Scripts/Common/Ajax-config.js"></script>
    <script src="~/Scripts/Common/ValidateXSS.js"></script>
    <script src="~/Scripts/Common/Message.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>