@{
    Layout = "_Layout";
    ViewData["Title"] = "Giới thiệu";
}
<head>
    <link rel="stylesheet" href="~/css/home/style_gt.css" />
</head>
<body>
    <div class="container">
        <img src="~/img/banner-top-detail.png" width="100%" />
        <h3>Giới thiệu</h3>
        <hr />
        <div class="content">
            <b>Chào mừng bạn đến với website đọc sách hay online miễn phí của 3HYQBook!</b>

            Là trang web đọc sách online, đọc truyện chữ, truyện full. Được tổng hợp đầy đủ và cập nhật liên tục về các thể loại sách, review sách hay, những cuốn sách, tác phẩm & cây những cây bút mới hay nên đọc. Hỗ trợ mọi thiết bị như di động và máy tính bảng.

            Nhằm tạo ra một địa chỉ website đọc truyện online quen thuộc chất lượng hàng đầu Việt Nam, cho độc giả khi tìm những cuốn sách hay và sách mới nên đọc thuộc nhiều thể loại với đa dạng lĩnh vực như: Sách khoa học viễn tưởng, Những tác phẩm sách văn học kinh điển, lịch sử, truyện trinh thám và nhiều thể loại khác...

            Những bài review về sách, các thể loại sách bạn yêu thích, những cuốn sách tại các hiệu sách online rất dễ dàng tìm kiếm khi đến với 3HYQBook. Cùng với đó, độc giả giả còn được trải nghiệm đọc sách online miễn phí, biết thêm những cuốn sách hay nên đọc, sách được đọc nhiều, sách mới,...

            <b>Vì sao 3HYQBook đến với bạn!</b>

            - Nhằm kết nối & cùng độc giả lan tỏa niềm đam mê đọc sách mỗi ngày đến với mọi người.

            - Tạo ra một không gian riêng biệt dành riêng cho người đam mê sách

            - Review sách hay và mới nhất  chia sẻ thư viện sách hay online, đọc sách hay online

            <b>Tầm nhìn và sức mệnh!</b>

            Lĩnh hội nguồn tri thức của nhân loại là điều mà bất kỳ một ai trong số chúng ta trong xã hội này cũng đều cần nhằm phát triển bản thân, phát triển ngôn từ phong phú hơn.

            Để lĩnh hội được nguồn tri thức tiềm tạng cho mình thì Sách là một nguồn kho báu quý giá vô cùng cần thiết ghi chép lại toàn bộ những sự vật hiện tưởng đang và đã từng có của nhân loại mà chính tác giả của cuốn sách đã trải qua chiêm nghiệm và đúc kết được lại thành vốn tài sản quý giá của mình cung cấp đến cho nhận loại.

            Chính vì vậy, để lĩnh hội được nguồn tri thức đó việc đọc sách mỗi ngày là việc cần thiết của mỗi người trong chúng ta hiện nay. Sách không chỉ mang đến cho chúng ta kiến thức, kinh nghiệm sống, kinh nghiệm kinh doanh, mà còn giúp ta thay đổi tư duy, cảm xúc, xây dựng lên tính cách mỗi con người.

            3HQYBook - địa chỉ đọc sách online miễn phí quen thuộc được mở ra như một kho thư viện về sách online, với sứ mệnh kết nối cộng đồng cùng bạn đọc sách, khám phá thế giới qua những cuốn sách thú vị và truyền cho bạn nguồn cảm hứng đổi thay mạnh mẽ trong hành động, hướng tới lan tỏa những giá trị tốt đẹp với cộng đồng.

            <b>Hãy đến với 3HYQBook để đọc sách online mỗi ngày ngay nhé!</b>

            Hy vọng những chia sẻ trên của 3HYQBook sẽ ngày càng có nhiều độc giả lựa chọn chúng tôi, và là người bạn quen thuộc mỗi ngày khi nghiền ngẫm và suy nghĩ về cuốn sách.
        </div>
        <hr />
    </div>
</body>