@{
    Layout = "_Layout";
    ViewData["Title"] = "Trang chủ";
}
<head>
    <link rel="stylesheet" href="~/css/home/stylehome.css" />
</head>
<div class="maincontent_1">
    <p class="demuc">Truyện mới hoàn thành</p>
    <ul class="product_list_1">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="NDSach">
                <img src="~/img/hoangtube.jpg">
                <h5>Sherlock Holmes</h5>
                <p>
                    Sherlock Holmes là một nhân vật thám tử tư hư cấu,
                    do nhà văn người Anh Arthur Conan Doyle sáng tạo nên. Tự coi mình là "thám tử tư vấn" tr
                </p>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="NDSach">
                <img src="~/img/sherlock_holmes.jpg">
                <h5>Sherlock Holmes</h5>
                <p>
                    Sherlock Holmes là một nhân vật thám tử tư hư cấu,
                    do nhà văn người Anh Arthur Conan Doyle sáng tạo nên. Tự coi mình là "thám tử tư vấn" tr
                </p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="~/img/sherlock_holmes.jpg">
                <h5>Sherlock Holmes</h5>
                <p>
                    Sherlock Holmes là một nhân vật thám tử tư hư cấu,
                    do nhà văn người Anh Arthur Conan Doyle sáng tạo nên. Tự coi mình là "thám tử tư vấn" tr
                </p>
            </a>
        </li>
    </ul>
    <br />
    <p class="demuc">Truyện đang cập nhật </p>
    <ul class="product_list_1">
        <li>
            <a href="">
                <img src="~/img/sherlock_holmes.jpg">
                <h5>Sherlock Holmes</h5>
                <p>
                    Sherlock Holmes là một nhân vật thám tử tư hư cấu,
                    do nhà văn người Anh Arthur Conan Doyle sáng tạo nên. Tự coi mình là "thám tử tư vấn" tr
                </p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="~/img/sherlock_holmes.jpg">
                <h5>Sherlock Holmes</h5>
                <p>
                    Sherlock Holmes là một nhân vật thám tử tư hư cấu,
                    do nhà văn người Anh Arthur Conan Doyle sáng tạo nên. Tự coi mình là "thám tử tư vấn" tr
                </p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="~/img/sherlock_holmes.jpg">
                <h5>Sherlock Holmes</h5>
                <p>
                    Sherlock Holmes là một nhân vật thám tử tư hư cấu,
                    do nhà văn người Anh Arthur Conan Doyle sáng tạo nên. Tự coi mình là "thám tử tư vấn" tr
                </p>
            </a>
        </li>

    </ul>
</div>			