@{
    Layout = "_Layout";
    ViewData["Title"] = "Sách";
}
<head>
    <link rel="stylesheet" href="~/css/home/stylebook.css" />
</head>
<body>
    Ấn vào từng sách -> Ảnh, tên, tác giả, giới thiệu, trạng thái..., danh sách chương:<br />
    <a asp-area="" asp-controller="Home" asp-action="NDChuong">Chương 1</a>
    <a asp-area="" asp-controller="Home" asp-action="NDChuong">Chương 2</a>
    ...
</body>