@{
    Layout = "_Layout";
    ViewData["Title"] = "Sách mới cập nhật";
}
<head>
    <link rel="stylesheet" href="~/css/home/stylehome.css" />
</head>
<body>
    <div class="container">
        <h3>Sách mới cập nhật</h3>
        <hr />
        <div>
            <a class="nav-link text-dark bookhome" asp-controller="Home" asp-action="NDSach" style="display:flex;flex-wrap:wrap;">
                <div>
                    <img src="~/img/thon-quy-am.jpg" />
                </div>
                <div style="margin-left:10px;margin-top:15px;">
                    <h4>Thôn Quỷ Ám</h4>
                    <p><b>Tác giả:&nbsp;</b>Tịch Dương</p>
                    <p><b>Thể loại:&nbsp;</b>Kinh dị</p>
                    <p><b>Số chương:&nbsp;</b>27</p>
                </div>
            </a>
        </div>
        <hr />
        <div>
            <a class="nav-link text-dark bookhome" asp-controller="Home" asp-action="NDSach" style="display:flex;flex-wrap:wrap;">
                <div>
                    <img src="~/img/loi-nguyen.jpg" />
                </div>
                <div style="margin-left:10px;margin-top:15px;">
                    <h4>Lời nguyền</h4>
                    <p><b>Tác giả:&nbsp;</b>Hua Jasmine</p>
                    <p><b>Thể loại:&nbsp;</b>Kinh dị</p>
                    <p><b>Số chương:&nbsp;</b>17</p>
                </div>
            </a>
        </div>
        <hr />
        <div>
            <a class="nav-link text-dark bookhome" asp-controller="Home" asp-action="NDSach" style="display:flex;flex-wrap:wrap;">
                <div>
                    <img src="~/img/thon-quy-am.jpg" />
                </div>
                <div style="margin-left:10px;margin-top:15px;">
                    <h4>Thôn Quỷ Ám</h4>
                    <p><b>Tác giả:&nbsp;</b>Tịch Dương</p>
                    <p><b>Thể loại:&nbsp;</b>Kinh dị</p>
                    <p><b>Số chương:&nbsp;</b>27</p>
                </div>
            </a>
        </div>
        <hr />
        <div>
            <a class="nav-link text-dark bookhome" asp-controller="Home" asp-action="NDSach" style="display:flex;flex-wrap:wrap;">
                <div>
                    <img src="~/img/loi-nguyen.jpg" />
                </div>
                <div style="margin-left:10px;margin-top:15px;">
                    <h4>Lời nguyền</h4>
                    <p><b>Tác giả:&nbsp;</b>Hua Jasmine</p>
                    <p><b>Thể loại:&nbsp;</b>Kinh dị</p>
                    <p><b>Số chương:&nbsp;</b>17</p>
                </div>
            </a>
        </div>
        <br />
    </div>
</body>
