@{
    Layout = "_Layout";
    ViewData["Title"] = "Sách đã hoàn thành";
}
<head>
    <link rel="stylesheet" href="~/css/home/stylehome.css" />
</head>
<body>
    <div class="container">
        <h3>Sách đã hoàn thành</h3>
        <hr />
        <div>
            <a class="nav-link text-dark bookhome" asp-controller="Home" asp-action="NDSach" style="display:flex;flex-wrap:wrap;">
                <div>
                    <img src="~/img/bi-an-truong-hoc-dam-mau.jpg" />
                </div>
                <div style="margin-left:10px;margin-top:15px;">
                    <h4>Bí ẩn trường học đẫm máu</h4>
                    <p><b>Tác giả:&nbsp;</b>T.D</p>
                    <p><b>Thể loại:&nbsp;</b>Trinh thám, Kinh dị</p>
                    <p><b>Số chương:&nbsp;</b>7</p>
                </div>
            </a>
        </div>
        <hr />
        <div>
            <a class="nav-link text-dark bookhome" asp-controller="Home" asp-action="NDSach" style="display:flex;flex-wrap:wrap;">
                <div>
                    <img src="~/img/bi-an-truong-hoc-dam-mau.jpg" />
                </div>
                <div style="margin-left:10px;margin-top:15px;">
                    <h4>Bí ẩn trường học đẫm máu</h4>
                    <p><b>Tác giả:&nbsp;</b>T.D</p>
                    <p><b>Thể loại:&nbsp;</b>Trinh thám, Kinh dị</p>
                    <p><b>Số chương:&nbsp;</b>7</p>
                </div>
            </a>
        </div>
        <hr />
        <div>
            <a class="nav-link text-dark bookhome" asp-controller="Home" asp-action="NDSach" style="display:flex;flex-wrap:wrap;">
                <div>
                    <img src="~/img/bi-an-truong-hoc-dam-mau.jpg" />
                </div>
                <div style="margin-left:10px;margin-top:15px;">
                    <h4>Bí ẩn trường học đẫm máu</h4>
                    <p><b>Tác giả:&nbsp;</b>T.D</p>
                    <p><b>Thể loại:&nbsp;</b>Trinh thám, Kinh dị</p>
                    <p><b>Số chương:&nbsp;</b>7</p>
                </div>
            </a>
        </div>
        <br />
    </div>
</body>			