@{
    Layout = "_LayoutManage";
    ViewBag.Title = "";
}

<div class="card">
    <div class="card-header">
        <div class="float-left">
            <button type="button" class="btn btn-primary btnAddNew" data-toggle="modal" data-target="#CreateOrUpdateModal"><i class="fa fa-plus">&nbsp;Thêm mới</i></button>
        </div>
        <div class="float-right frame-header">
            <input placeholder="Tìm kiếm ..." name="Keyword" />
            <button type="button" class="btn btn-primary btnSearch"><i class="fa fa-search">&nbsp;Tìm kiếm</i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-10" style="display:none">
                Số bản ghi/trang:&nbsp;
                <select name="ValuePage">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">30</option>
                    <option value="100">40</option>
                </select>
            </div>
            <div class="col-2 text-right">
                <a asp-controller="Category" asp-action="Index">Quay lại danh sách</a>
            </div>
        </div>
        <div class="" style="width:100%; margin-top:10px;">
            <table id="TBLDANHSACH" class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center" style="width:60px;">STT</th>
                        <th class="text-center" style="width:230px;">Tên thể loại</th>
                        <th class="text-center" style="width:500px;">Mô tả</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal" data-backdrop="static" id="CreateOrUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title inline-block" id="exampleModalLabel"><i class='fa fa-list-alt' aria-hidden='true'></i>&nbsp;Cập nhật thông tin thể loại</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-content" style="border:none; margin: 10px auto;">
                <input name="CategoryId" class="hide" style="display:none" />
                <div class="">
                    <div class="col-md-3"><span>Tên thể loại:<span style="color:red">*</span>&nbsp;</span></div>
                    <div class="col-md-12"><input name="CategoryName" placeholder="Tên thể loại" class="form-control" /></div>
                </div>
                <div class="">
                    <div class="col-sm-3"><span>Mô tả:&nbsp;</span></div>
                    <div class="col-sm-12">
                        <textarea class="form-control" name="Description" placeholder="Mô tả" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnSave">Lưu lại</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $modal = $('#CreateOrUpdateModal');
        $(document).ready(function () { //Sau khi load xong html
            function LoadContentSearch(pageNum) {
                this.Keyword = $('input[name=Keyword]').val(); //Lấy giá trị của ô input[name=Keyword] : giá trị tìm kiếm
                this.ValuePage = $('select[name=ValuePage]').val(); //Lấy giá trị của ô select[name=ValuePage] : số bản ghi trong 1 trang
                this.PageNum = pageNum //trang số
            }

            function Category() {
                this.categoryId = ($('input[name=CategoryId]').val() || 0);
                this.categoryName = $('input[name=CategoryName]').val();
                this.description = $('[name=Description]').val();
            }

            var $danhmuc = {
                init: function () {
                    $danhmuc.LoadDanhSach(1);
                    $danhmuc.SearchClick();
                },
                $thisPage: $('.card'),
                SearchClick: function () {
                    $danhmuc.$thisPage.find('.btnSearch').off('click').on('click', function () { $danhmuc.LoadDanhSach(1); }); //Sự kiện khi click vào nút có class btnSearch
                },
                LoadDanhSach: function (pageNum) {
                    var dataSend = new LoadContentSearch(pageNum);
                    var getResponse = AjaxConfig.sendRequestToServer("/Category/GetList", "GET", dataSend); //Gọi vào controller Category, hàm Getlist, truyền vào DataSend
                    getResponse.then(function (response) { //getResponse thực hiện xong thì thực hiện funtion với tham số truyền vào là response - kết quả trả về của AjaxConfig.sendRequestToServer("/Category/GetList", "GET", dataSend);
                        if (response.header.msgType == BoxType.Success) {
                            $danhmuc.PageCurrent = pageNum;
                            var htmlContent = "";
                            response.data = response.data || [];
                            if (response.data.length == 0) {
                                htmlContent = '<tr><td colspan="10" class="text-center">Không có dữ liệu.</td></tr>';
                                $danhmuc.$thisPage.find('table#TBLDANHSACH tbody').html(htmlContent);
                                $('.countItem').text(response.data.length);
                                $('.pagination-page').html('');
                                return false;
                            }
                            for (var i = 0; i < response.data.length; i++) {
                                var $Item = response.data[i];
                                htmlContent += '<tr>' +
                                    '<td class="text-center">' + (i + 1) + '</td>' +
                                    '<td class="text-center">' + ($Item.categoryName || '') + '</td>' +
                                    '<td class="text-center">' + ($Item.description || '') + '</td>' +
                                    '<td class="text-center">' +
                                        '<button type="button" class="btn btn-secondary btn-sm btnEdit" style="margin-right: 5px;" data-id="' + $Item.categoryId + '"><i class="fa fa-pencil-square-o">&nbsp;Sửa</i></a>' +
                                        '<button type="button" class="btn btn-danger btn-sm btnDelete" data-id="' + $Item.categoryId + '"><i class="fa fa-trash-o">&nbsp;Xóa</i></button>' +
                                    '</td >' +
                                    '</tr>';
                            }
                            htmlContent = $ValidateXSS.sanitizeHtmlTable([htmlContent]);
                            $danhmuc.$thisPage.find('table#TBLDANHSACH tbody').html(htmlContent);
                            $('.countItem').text(response.data.length);
                            $danhmuc.DeleteClick();
                            $danhmuc.EditClick();
                            /*LoadPaginationPage($danhmuc.$thisPage, $danhmuc.LoadDanhSach, response.Body.TotalRowData, response.Body.Data.length, pageNum, valuePage || 100);*/
                        } else {
                            $msgDialog.confirm(response.header.msgType, null, response.body.description, null, null, null);
                        }
                    }).catch(function (xhr) {
                        AjaxConfig.CatchError(xhr);
                    });
                },
                EditClick: function () {
                    $('.btnEdit').off('click').on('click', function () {
                        let id = $(this).data('id');
                        if (id > 0) {
                            let dataSend = { "id": id };
                            var getResponse = AjaxConfig.sendRequestToServer("Category/GetCategory", "GET", dataSend);
                            getResponse.then(function (response) {
                                if (response.header.msgType == BoxType.Success) {
                                    let item = response.data;
                                    $('input[name=CategoryId]').val(item.categoryId);
                                    $('input[name=CategoryName]').val(item.categoryName);
                                    $('[name=Description]').val(item.description);
                                    $modal.modal('show');
                                }
                                else {
                                    $msgDialog.confirm("orange", null, "Thông tin yêu cầu không hợp lệ", null, null, null);
                                }
                            }).catch(function (xhr) {
                                AjaxConfig.CatchError(xhr);
                            });
                        }
                    })
                },
                DeleteClick: function () {
                    $('.btnDelete').off('click').on('click', function () {
                        let id = $(this).data('id');
                        if (id > 0) {
                            $.confirm({
                                title: 'XÁC NHẬN THÔNG TIN',
                                content: "Bạn có chắc chắn muốn xóa không?",
                                type: 'orange',
                                typeAnimated: true,
                                columnClass: 'col-md-6 col-md-offset-0',
                                container: $('.card'),
                                buttons: {
                                    OK: {
                                        text: '<i class="fa fa-trash"></i>&nbsp;Xóa',
                                        btnClass: "btn-primary",
                                        action: function () {
                                            let _self = this;
                                            let dataSend = { "id": id };
                                            var getResponse = AjaxConfig.sendRequestToServer("Category/Delete", "GET", dataSend);
                                            getResponse.then(function (response) {
                                                if (response.header.msgType == BoxType.Success) {
                                                    $danhmuc.LoadDanhSach(1);
                                                    $msgDialog.confirm(response.header.msgType, null, response.description, null, null, null);
                                                }
                                                else {
                                                    $msgDialog.confirm(response.header.msgType, null, response.description, null, null, null);
                                                }
                                            }).catch(function (xhr) {
                                                AjaxConfig.CatchError(xhr);
                                            });
                                        }
                                    },
                                    close: {
                                        text: '<i class="fa fa-close"></i>&nbsp;Đóng',
                                        action: function () {
                                        }
                                    }
                                }
                            });
                        }
                    })
                }
            };
            $danhmuc.init();

            var $updateModal = {
                init: function () {
                    $updateModal.OpenModal();
                    $updateModal.CloseModal();
                    $updateModal.CreateOrUpdate();
                    $updateModal.FileChange();
                },
                OpenModal: function () {
                    $modal.on('shown.bs.modal', function () {
                        let id = ($modal.find('input[name=CategoryId]').val() || 0);
                        if (id == 0) {
                            $updateModal.ResetModal();
                        }
                    })
                },
                CloseModal: function () {
                    $modal.on('hidden.bs.modal', function () {
                        $updateModal.ResetModal();
                    })
                },
                ResetModal: function () {
                    $modal.find('input').val("");
                    $modal.find('textarea').val("");
                },
                LoadDataSend: function () {
                    let item = new Category();
                    if (item.CategoryName == "") {
                        $msgDialog.confirm("orange", null, "Vui lòng nhập tên thể loại", null, null, null);
                        return false;
                    };
                    return item;
                },
                CreateOrUpdate: function () {
                    $('#CreateOrUpdateModal .btnSave').off('click').on('click', function () {
                        let dataSend = $updateModal.LoadDataSend();
                        if (dataSend) {
                            let id = ($('input[name=CategoryId]').val() || 0);
                            let url = (id == 0 || id == "") ? "/Category/AddNew" : "/Category/Update";
                            var getResponse = AjaxConfig.sendRequestToServer(url, "GET", dataSend);
                            getResponse.then(function (response) {
                                if (response.header.msgType == BoxType.Success) {
                                    $danhmuc.LoadDanhSach(1);
                                    $msgDialog.confirm(response.header.msgType, null, response.description, null, null, null);
                                    $('#CreateOrUpdateModal').modal('hide');
                                }
                                else {
                                    $msgDialog.confirm(response.header.msgType, null, response.description, null, null, null);
                                }
                            }).catch(function (xhr) {
                                AjaxConfig.CatchError(xhr);
                            });
                        }
                    })
                },
            };
            $updateModal.init();
        });

    </script>
}